.container
  .jumbotron
    %h1 Plateforme pour Gists
    %p Une platefome qui réunit les Gists de votre équipe.
    %p Veuillez vous enregistrer si c'est la première fois.
    %p
      %a.btn.btn-primary.btn-lg{href: "#{new_company_registration_path}", role: "button"}
        Inscription
